
www.learnopengl.com/opengl/opengl.opensdf
www.learnopengl.com/opengl/opengl.VC.db
www.learnopengl.com/opengl/opengl.VC.VC.opendb
www.learnopengl.com/opengl/opengl/ClassDiagram.cd
www.learnopengl.com/opengl/opengl/Debug/opengl.Build.CppClean.log
www.learnopengl.com/opengl/opengl/Debug/opengl.Build.CppClean.log
